picture {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100px;
}

picture.is-small {
  width: 50px;
}

picture.is-large {
  width: 200px;
}

img {
  box-shadow: 0 0 15px #999;
  border-radius: 50%;
  width: 100%;
}

img.disabled {
  opacity: 0.3;
}

i {
  align-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  min-height: 50px;
  display: block;
  width: 100%;
}